<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>PeopleMeals login</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet">
    <link crossorigin="anonymous" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
    <style>
        body {
            background-color: #3e3e3e;
            color: white;
            text-align: center;
        }

    </style>
</head>
<body>
<div class="container">
    <form action="/api/v1/logout" class="form-signin" method="post">
        <h2 class="form-signin-heading">Thank you!</h2>
        <p>You are now logged in</p>
        <button class="btn btn-lg btn-link btn-block" type="submit">Logout here</button>
    </form>
</div>
</body>
</html>